@CHARSET "UTF-8";
/* talk window  */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.talk_window {
	width: 350px;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -190px;
	border: 10px solid #007799;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius:5px;   
    background: #007799;
    z-index:-999;
}

.pew {
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #007799;
	cursor: move;
	border-radius:5px;  
	color:white;
}

.talk_container {
	width: 100%;
	height: calc(100% - 30px);
	background-color:#007799;
	border-radius:5px;
}
.talk_content_box{
	height:275px;
	width:100%;
	background-color:#eee;
	border-bottom:20px solid #007799;
	padding:10px;
	overflow-y: scroll;
}
.talk_content_box  a{
	font-size:10px;
	display:block;
}
.talke_sendMsg{
	height:25%;
	width:100%;
	background-color:#daf0f7;
	position: relative;
}
.talk_send_btn{
	position: absolute;
	right: 0px;
	bottom:-1px;
}
.talk_close_btn{
	position: absolute;
	right: 50px;
	bottom:-1px;
}
.talk_each_box{
	float: left;
	width: 100%;
	margin-bottom:6px;
}
.talk_each_time{
	font-size:8px;
	padding-left:5px;
	padding-right:5px;
}
.talk_each_left{
	max-width:200px;
	display:inline-block;
	min-height:25px;
	background-color:white;
    margin-left:-8px;
    -webkit-border-radius:3px;
	-mox-border-radius:3px;
	border-radius:3px;
	font-size:12px;
	line-height:25px;
	padding:0 10px;
	word-wrap:break-word; 
	word-break:break-all; 
}
.talk_each_right{
	display:inline-block;
	max-width:200px;
	min-height:25px;
	background-color:#0077cf;
	margin-right:-5px;
	-webkit-border-radius:3px;
	-mox-border-radius:3px;
	border-radius:3px;
	color:white;
	text-align:right;
	font-size:12px;
	line-height:25px;
	padding:0 10px;
	word-wrap:break-word; 
	word-break:break-all; 
}
.sanjiao_left{
	display:inline-block;
	width:0;
    height:0; 
    border-top:8px solid transparent;
    border-bottom:8px solid transparent; 
    border-right:8px solid white; 
}
.sanjiao_right{
	display:inline-block;
	width:0; 
    height:0; 
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid #0077cf;
}
.message_count{
	font-size: 2px;
    font-weight: bold;
    color: #FFF;
    background: #337ab7;
    line-height: 11px;
    width: 15px;
    height: 15px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    padding: 2px 0 0;
    margin-left:10px;
}