@charset "utf-8";
* {
	margin:0;
	padding:0;
}
ul, li {
	list-style:none;
}
.inputElem {
	width:210px;
	height:22px;
	line-height:22px;
	border:1px solid #ccc;
	margin-left:-20px;
}
.parentCls {
	display:inline;
	width:200px;
	height:auto; 
	margin:0 auto auto -11px;
}
.auto-tip li {
	width:100%;
	height:22px;
	line-height:22px;
	font-size:14px;
	background:#FFFFFF;
}
.auto-tip li.hoverBg {
	background:#ddd;
	cursor:pointer;
}
.red {
	color:#333;
}
.hidden {
	display:none;
}
